.coverage*
*.dylib
*.o
*.so
*.os
*.pyc

# IDE folders and files
.idea/
.theia/
.vscode/

# pytest and related
pytest_session.txt
.cache
.hypothesis
.pytest_cache
.coverage
tests/.tests
tests/.cache

/*.fits
*_wrap.cc
*Lib.py
.sconf_temp
.sconsign.dblite
config.log
doc/*.tag
doc/html
doc/doxygen.conf
doc/xml
python/lsst/meas/extensions/multiprofit/version.py
ups/*.cfgc
_build.*
bin
python/*.dist-info/
